.film-card {
	width: 400px;
	height: 500px;
	float: left;
	margin: 25px;
	/* border-radius: 25px;
	border-color: black; */
}
.example-header-image {
	background-size: cover;
}

.img {
	height: 300px;
}
.card-content {
	height: 60px;
}

/* .trim-info {
	max-width: 399px;
	max-height: 58px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	/* white-space: nowrap; *
	line-height: 15px;
	position: relative;
} */

