.carousel-item {
	flex: 1 0 180px;
	width: 180px;
	height: 135px;
	margin: 0px 5px;
	overflow: hidden;
}

.img{
	position: absolute;
	overflow: auto;
	width: 180px;
	height: 135px;
	margin: 0;
}

.img-container{
	position: relative;
	overflow: hidden;
	height: 100%
}
