<mat-toolbar class="navbar">
  <app-hamburger-menu></app-hamburger-menu>

  <div class="title">
    <b [routerLink]="['/home']">Chillflix</b>
  </div>

  <ul>
    <div>
      <button mat-button [routerLink]="['/home']">Homepage</button>
      <button mat-button [routerLink]="['/series']">Series</button>
      <button mat-button [routerLink]="['/films']">Films</button>
      <button mat-button [routerLink]="['/originals']">Originals</button>
      <button mat-button [routerLink]="['/recentlyAdded']">Recently added</button>
      <button mat-button [routerLink]="['/myList']">My List</button>
    </div>
  </ul>

	<div class="input-group-search">
		<input id="inputSearchFilms" type="search" ng-model="filterFilms" class="form-control shortInputSearch" placeholder="Search a film">
		<div class="input-group-btn">
			<button class="btn btn-primary" ng-click="search();">
				<i class="glyphicon glyphicon-search"></i>
			</button>
			<button class="btn btn-primary" ng-click="clearSearch();">
				<i class="glyphicon glyphicon-remove-sign"></i>
			</button>
		</div>
	</div>
</mat-toolbar>
