.movie {
  width: 250px;
  height: 250px;
  border: 1px black solid;
  margin: 5px;
  float: left;
}

.movie-header {
  height: 80%;
}

.movie-title {
  font-weight: bold;
  height: 20%;
}

.movie:hover {
  background: gray;
}
