.movie {
  width: 280px;
  height: 280px;
  margin: 5px;
  padding: 5px;
  //background: rgba(128, 128, 128, 0.29);
}

.movie-title {
  font-weight: bold;
  padding: 10px;
}

.movie:hover {
  //background: rgba(128, 128, 128, 0.37);
}

.movie-thumbnail {
  width: 100%;
  height: auto;
}
