mat-chip {
	max-width: 200px;
  }

.img {
	width: 100%;
	display: float;
	margin-left: auto;
	margin-right: auto;
	
}

.column {
    float: left;
}

.left {
	width: 50%;
	background: black;
}

.right {
	width: 50%;
	background: black;
}
