<div *ngIf="film" class="film-details">
	<div class="film-details-header">
		<button
			mat-raised-button
			[color]="'primary'"
			(click)="close()"
			style="float: right;"
		>Close
		</button>
	</div>
	<div class="film-detail-content">
		<div class="left">
			<h1 class="film-detail-title">{{film.title}}</h1>
			<h3 class="film-detail-description">
				{{film.description}}
			</h3>
			<h4 style="color:white;">
				Views: &emsp; {{film?.watched}}
			</h4>

			<h4 style="color:white;">
				Genres:&emsp;
			</h4>

			<mat-chip-list>
				<mat-chip>
					{{film.categories}}
				</mat-chip>
			</mat-chip-list>

			<div class="app-add-movie">
				<app-add-movie></app-add-movie>
				<app-thumbs-up [film]="film"></app-thumbs-up>
				<app-thumbs-down [film]="film"></app-thumbs-down>
			</div>
		</div>

		<div *ngIf="film" class="right">
			<a [routerLink]="['/films/', film.id]">
				<img src="{{film.thumbnail}}" />
			</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
