<div *ngIf="film" class="film-details">
	<div class="film-details-header">
		<button mat-raised-button [color]="'primary'" (click)="deselect()" style="float: right;">Close</button>
	</div>
	<div class="film-detail-content">
		<div class="left">
			<h1 class="film-detail-title">{{film?.title}}</h1>
			<h3 class="film-detail-description">
				{{film?.description}}
			</h3>
			<h4 style="color:white;">
				Views: &emsp;  {{film?.watched}}
			</h4>

			<h4 style="color:white;">
				Genres:&emsp;
			</h4>

			<mat-chip-list>
				<mat-chip>
					{{film?.categories}}
				</mat-chip>
			</mat-chip-list>

			<div class="app-add-movie">
				<app-add-movie></app-add-movie>
			</div>
			<!--THUMBS UP&DOWN HERE!-->
		</div>

		<div *ngIf="film" class="right">
			<img class="img" mat-card-image src="{{film.thumbnail}}" alt="thumbnail">
		</div>
	</div>
	<div class="clear"></div>
</div>
