mat-chip {
	max-width: 200px;
}

.film-details {
	background: black;
}

.img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.film-detail-content {
	clear: both;
	padding: 40px;
}

.left {
	float: left;
	width: 48%;
}

.right {
	float: right;
	width: 48%;
}

.film-detail-title {
	color: white;
}

.film-detail-description {
	color: grey;
}

.clear {
	clear: both;
}

.app-add-movie {
	margin-top: 20px;
}
