<!-- TODO: Move nav to seperate component -->
<mat-toolbar color="primary" class="main-menu">
  <mat-toolbar-row>
    <span>Crapflix</span>

    <!-- TODO: Make spacer a component: mat-toolbar-spacer -->
    <span class="spacer"></span>

    <button mat-button>Fuck yeah</button>
    <button mat-button>AAAAAAAAH</button>
    <button mat-button>Lalallala</button>
  </mat-toolbar-row>
</mat-toolbar>

<div mat-app-background class="content">
  <h2 class="page-title">
    All videos
  </h2>
  <app-movie-list></app-movie-list>
  <h2 class="page-title">
    Popular
  </h2>
  <app-movie-list [popular]=true></app-movie-list>
</div>

