.page-title {
  // color: white;
}

.main-menu {
  margin: 0px;
  // background-color: #ac0000;
}

.content {
  padding: 20px;
}

.logo a {
  // color: white;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}
