.movie-list {
  width: auto;
  height: 320px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.movie-list-item {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}
