.search-container {
	box-sizing: border-box;
    font-family: Verdana;
    font-size:14px;
    border-bottom-color: rgb(58, 1, 1);
    border-bottom-style: inset;
    border-bottom-width: 5px;
    color: rgb(201, 201, 201);
    transition: all 0.2s;
	height: 100%;
	margin-left: 2.0%;
}

.search-container:hover {
	background-color: rgb(58, 1, 1);
    border-bottom-color:rgb(238, 0, 0);
    border-bottom-width: 10px;
    color: white;
}
