<mat-card>
	<h2>{{title}}</h2>
	<div *ngIf="allFilms; then filmList else spinner"></div>
</mat-card>

<ng-template #filmList>
	<div #carousel class="carousel">
		<div #carouselContent class="carousel-content">
			<div #carouselList class="carousel-list">
				<app-film-list-item
					*ngFor='let film of allFilms | async'
					[film]='film'
					[routerLink]="['/films', film.id]">
				</app-film-list-item>
			</div>
		</div>
		<div class="carousel-nav">
			<button #carouselPrevious class="carousel-nav-button previous">
				<mat-icon>navigate_before</mat-icon>
			</button>
			<button #carouselNext class="carousel-nav-button next">
				<mat-icon>navigate_next</mat-icon>
			</button>
		</div>
	</div>
</ng-template>

<ng-template #spinner>
	<div class="spinner-holder">
		<mat-spinner class="spinner"></mat-spinner>
		<div class="bullshit-holder">Retrieving the most awesome movies!</div>
	</div>
</ng-template>
