<h2 class="title" [style.marginLeft.px]="buttonWidth">{{title}}</h2>
<div class="pagesHolder">
	<div class="page"></div>
</div>
<div class="wrapper">
	<button mat-button class="nav-button nav-button-left" (click)="previous()">
		<mat-icon>navigate_before</mat-icon>
	</button>
	<div class="list-wrapper">
		<div class="list" [ngStyle]="{'left': (-index * 1466 ) + 'px'}">
			<app-film-list-item class="film"
								*ngFor='let film of allFilms | searchFilter | async'
								[film]='film'
								#item
								(click)="select(film)">
			</app-film-list-item>
		</div>
	</div>
	<button mat-button class="nav-button nav-button-right" (click)="next()">
		<mat-icon>navigate_next</mat-icon>
	</button>
</div>

<!--Toevoegsel Eloy voor import details-->
<div class="detail">
	<app-film-detail></app-film-detail>
</div>

