.carousel {
	position: relative;
	margin: 10px 60px;
	color: white;
}

.wrapper{
	margin: 15px 0;
	height: 135px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.nav-button{
	width: 80px;
	height: 100%;
	z-index: 9999;
}

.list-wrapper{
	position: relative;
	width: calc(100% - 160px);
	height: 100%;
	/*background-color: red;*/
}

.list{
	position: absolute;
	left: 0;
	width: 1000000px;
	height: 100%;
	transition: left 0.7s;
}

.film{
	display: inline-block;
	height: 100%;
}

h2{
	margin: 40px 60px 0 60px;
	color: white;
}

app-film-list-item{
	position: relative;
	right: 0px;
	padding: 0 2px;
	transition: right 0.3s;
}
