.carousel {
	position: relative;
	margin: 10px 60px;
	color: white;
}

h2{
	margin: 40px 60px 0 60px;
	color: white;
}

app-film-list-item{
	position: relative;
	right: 0px;
	padding: 0 2px;
	transition: right 0.3s;
}

/****** CAROUSEL NAV *****/
.carousel-nav-button.previous, .carousel-nav-button.next {
	position: absolute;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	border: none;
	padding: 0;
	z-index: 1500;
	min-width: 0;
}

/**** CAROUSEL LISTR ******/
.carousel-content {
	height: 135px;
}

.carousel-list {
	position: relative;
	display:inline-flex;
	right: 0;
	transition: all 0.3s;
}

/* middle list-items */
.carousel-list:hover{
	right: 90px;
}

.first-child-hover{
	right: 0 !important;
}

.last-child-hover{
	right: 180px !important;
}
